<<<<<<< HEAD
body {
    background-color: antiquewhite;
}

h1 {
    font-size: 30px;
}
=======
body {
  background-color: red;
}

h1 {
  color: green;
}

p {
  color: blue;
}
>>>>>>> fe7fcdd25542263a027d4e211115238337e73e79
